* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.botonesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

.botonesContainer button {
    min-width: 50%;
    margin: 0.5rem;

    padding: 1rem;
}

#gamebtns {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

#gamebtns button {
    min-width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#reset {
    /* margin-top: 1rem; */
    font-size: 1rem;
    background-color: inherit;
    border: none;
    margin: 0;
}

.fa-arrows-rotate {
    text-align: center;
    padding: 0 14px;
}

.reload:hover .fa-arrows-rotate{
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.reload {
    background-color: #fff;
}

.announcement {
    text-align: center;
    padding: 1rem 0;
}

.resultados {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Estilos del conteo */
.fuente {
    font-size: 1.5rem;
}

#victorias {
    color: green;
}

#derrotas {
    color: red;
}

#empates {
    color: grey;
}

/* Estilos del resultado */
#victory, #defeat, #tie {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}