@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2E4172;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    font-size: 2rem;
    text-align: center;

    margin-bottom: 2rem;
    color: white;

}

.botonesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonesContainer button {
    min-width: 50%;
    margin: 0.5rem;

    padding: 1rem;
}

#gamebtns {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

#gamebtns button {
    min-width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#reset {
    margin-top: 1rem;
    background-color: inherit;
    /* border: none; */
    /* margin: 0; padding: 0; */
}

.fa-arrows-rotate {
    text-align: center;
    margin-left: 1rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.announcement {
    text-align: center;
    padding: 1rem 0;
    color: #87CEFA;
}

.resultados {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


/* Estilos del conteo */
.fuente {
    font-size: 1.5rem;
    font-family: 'DotGothic16', sans-serif;
}

#gamebtns .fuente :nth-child(2) {
    position: absolute;
    right: 4.5rem;
}

#victorias {
    color: rgb(30, 220, 9);
}

#derrotas {
    color: red;
}

#empates {
    color: grey;
}

/* Estilos del resultado */
#victory, #defeat, #tie {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}